<%- model_class = ::Room -%>

<div id="messages" class="inside-scrollable">
  <%= render @messages %>
</div>

<div class="message-input-row">
<form>
  <%= text_area_tag nil, nil, id: nil, class: 'message-input',
      :'data-behavior' => "room_speaker",
      :'data-room-id' => @room.id,
      :'data-membership-id' => @membership.id
  %>
</form>
</div>

<%= javascript_tag defer: 'defer' do -%>
(function(){
  var adjust = function() {
    $('#messages').css('max-height', ($(window).height() - 140) + 'px');
  };
  adjust();
  $('#messages').scrollTop($('#messages').get(0).scrollHeight);
  $(window).on('resize', adjust);
})();
<% end -%>
