<%- model_class = ::Room -%>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <%= text_field_tag nil, nil, id: nil,
      :'data-behavior' => "room_speaker",
      :'data-room-id' => @room.id,
      :'data-user-id' => User.current_user.id
  %>
</form>
